*{
    padding: 0;
    margin: 0;
}

/*Header*/
header{
    background: orangered;
    padding: 10px 20px;
    text-align: center;
    color:white;
    font-size: 100%;
}

header h1{
    background-color: transparent;
}

/*Body and Headings*/
h1{
    margin: 10px 5px;
    text-align: center;
}

body{
    font-size: 16px;
    background: black;
}

/* Navigation Bar Section*/
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: transparent;
}

nav li{
    float:left;
}

nav li a{
    display: block;
    background-color:transparent;
    color:white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

nav li a:hover{
    background-color: orangered;
}

/*Home Section*/

/*About Me Section*/
#about p {
    margin:10px;
}

/*Socail Media*/
#social .block{
    background: aliceblue;
    color: black;
    padding: 10px;
    margin: 10px 20px;
}

#social .block img{
    width: 400px;
}

#social ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    top: 0;
    background-color: transparent;
}

#social li{
    float:left;
    padding: 10px;
    margin: 10px;
    background-color: orangered;
    color: white;
}

/*Packages*/
#packages .block{
    background: aliceblue;
    color: black;
    padding: 10px;
    margin: 5px;
    width: 20%;
    float:left ;
}

#packages .blocks:after{
    content: "";
    display:block;
    clear:both;  
}

#packages img{
    width: 100%;
}

/*Contact Me*/
.contactdetails .column{
    width: 25%;
    float: left;
}

.contactdetails:after{
    content: "";
    display: table;
    clear: both;
}

/*More Info Section*/
#info ul{
   list-style-type: disc;
   margin: 10px;
   padding: 10px;
}

#info li{
    padding: 10px 0px;
}

#info p{
    margin: 0px 40px;
    padding: 10px;
    background: white;
    color: black;
}

/*Section Control*/
#home, #social, #contact {
    background: orangered;
    padding: 1px;
}

#about, #packages, #info{
    background: black;
    color: white;
}

/*Footer/*