*{
    padding: 0;
    margin: 0;
}

/*Header for page*/
header{
    background: orangered;
    padding: 10px 20px;
    text-align: center;
    color:white;
    font-size: 100%;
}

header h1{
    background-color: transparent;
}

body{
    font-size: 16px;
    background: black;
}

/* Navigation Bar Section*/
nav ul{
    background-color: transparent;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}

li{
    float:left;
}

li a{
    display: block;
    background-color:transparent;
    color:white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover{
    background-color: orangered;
}

/*Home Section*/

/*About Me Section*/
#about p {
    margin:10px;
}

/*Section Control*/
#home, #social, #contact {
    background: orangered;
}

#about, #packages, #info{
    background: black;
    color: white;
}

/*More Info Section*/
#info ul{
   list-style-type: disc;
   margin: 10px;
   padding: 10px;
}

#info li{
    padding-bottom: 10px;
    padding-top: 10px;
}

#info p{
    margin: 0px 40px;
    padding: 10px;
    background: white;
    color: black;
}